body {
    font-family: Arial, Helvetica, '微軟正黑體', sans-serif, Times, serif;
    font-size: 18px;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


// tool
section {
    position: relative;
    padding: 5% 20vw;
    width: 60vw;
    min-height: 80vh;
    height: auto;
    overflow-x: hidden;
}

.img-resp {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.mask {
    overflow: hidden;
}

// navegation
nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    top: 0;
    padding: 2% 10% 0;
    z-index: 2;
    background-color: rgb(14, 28, 79);

    a {
        display: inline-block;
        color: #fff;
    }
}

.nav-ls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 2%;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}

.nav-logo {
    position: relative;
    left: 0;
    width: 50%;

    img {
        width: 60px;
    }
}

.nav-item {
    width: 16%;

    &:hover ul {
        display: flex;
    }

    a {
        transition: opacity .5s;
        opacity: 1;

        &:hover {
            opacity: 0.5;
        }
    }

    ul {
        display: none;
        flex-direction: column;
        line-height: 30px;
    }

    li {
        padding: 0 0 0 5%;
        line-height: 36px;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}


// home
.home {
    background-color: rgb(14, 28, 79);
}

.slogan {
    position: relative;
    top: 40%;
    font-size: 60px;
    text-transform: uppercase;
}

// display-walls
.display-walls {
    overflow-y: auto;
}

.display-walls-wrap {
    column-gap: 50px;
    column-width: 200px;
    row-gap: 50px;
}

.display-walls-box {
    position: relative;
    display: inline-block;
    width: 250px;
    margin: 3% 0 0;
    padding: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    h2 {
        position: absolute;
        display: flex;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        font-size: 36px;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        background-color: rgba(14, 28, 79, 0.2);
        opacity: 1;
        transition: opacity .3s;

        &:hover {
            opacity: 0;
        }
    }
}



// product
.product {
    position: relative;
    // height: 60vh;
    // height: fit-content;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/紙張背景.jpg);

}

.wrap {
    position: relative;
    top: 10%;
    width: 100%;
    padding: 5%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #000;
}

.product-mask {
    position: relative;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    transition: left .5s;
}

.product-box {

    display: flex;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.img-wrap,
.product-intro {
    width: 50%;
    margin-left: 5%;
    aspect-ratio: 1;
    box-sizing: border-box;
}

.product-intro {
    .product-title {
        padding-top: 10%;
        color: rgb(14, 28, 79);
        font-size: 36px;
        font-weight: 800;
    }

    .product-desc {
        padding-top: 10%;
        color: rgb(14, 28, 79);
        font-size: 24px;
        line-height: 2rem;

        width: 80%;

        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    a {
        display: inline-block;
        color: #fff;
        margin-top: 10%;
        font-size: 18px;
        padding: 5%;
        background-color: rgba(14, 28, 79, 0.8);
        border-radius: 5px;

        &:hover {
            background-color: rgba(14, 28, 79);
        }
    }
}

.product-arrow {
    position: relative;
    vertical-align: middle;

    a {
        color: rgb(14, 28, 79);
        font-size: 48px;
        opacity: 0.3;
        transition: all .5s;

        &:hover {
            opacity: 1;
        }
    }

    .prev-arrow,
    .next-arrow {
        position: relative;
        display: inline-block;
        padding: 0 1%;
    }

    .prev-arrow {
        float: right;
    }

    .next-arrow {
        float: right;
    }
}

.product-button {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    .button {
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: rgb(14, 28, 79);
        opacity: .3;
        margin: 0 .5%;
    }

    .js-button {
        opacity: 0.8;

    }
}



// contact

.contact {
    display: flex;
    min-height: 20vh;
    background-color: rgb(14, 28, 79);
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.c-logo {
    width: 40%;
    font-size: 36px;
    line-height: 1;

    span {
        font-size: 24px;
    }
}

.c-product,
.c-company {
    width: 30%;
}

.c-title {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

@media screen and (min-width:1024px) {}

@media screen and (min-width:720px) {
    // section {
    //     padding: 5% 10vw;
    //     width: 80vw;
    // }
}

@media screen and (max-width:720px) {}

@media screen and (max-width:440px) {


    section {
        padding: 5% 12vw;
        width: 76vw;
    }



    .nav-ls {
        font-size: 12px;
    }

    .nav-item {
        width: 20%;
        text-align: left;

        li {
            line-height: 16px;
        }
    }

    .nav-logo {
        width: 40%;
    }

    .display-walls-box {
        width: auto;
    }

    .product .wrap {
        width: auto;
    }

    .product-box {
        flex-direction: column;

        .img-wrap {
            width: 100%;
            overflow: none;
            margin-left: 0;
        }

        .product-intro {
            position: absolute;
            bottom: 0;
            width: 100%;
            aspect-ratio: 0;

            h2,
            p {
                color: #fff;
            }

            p {
                display: none;
            }
        }
    }

    .product-button {
        .button {
            width: 8px;
            height: 5px;
            transition: width 0.3s;
        }

        .js-button {
            width: 20px;
            height: 5px;
            border-radius: 5px;
            aspect-ratio: 0;
        }
    }



    .contact {
        font-size: 12px;
        line-height: 1.2;
    }
// ------------
    #detailButton {
        display: none;
    }
    .wrap {
        padding: 0;
    }
    .product-box {
        aspect-ratio: 1;
    }
    .product-mask {
        height: 45vh;
    }
    .product-intro {
        position: absolute;
        top: 0;
        margin-left: 10%;
    }
    .product-arrow {
        display: none;
    }
    .img-wrap {
        padding: 5%;
        .img-resp {
            aspect-ratio: 1;
        }
    }
    .product-button {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
        .button {
            // background-color: #fff;
        }
        
    }
    section {
        min-height: 40vh;
    }
// -------------
    .c-logo {
        width: 40%;
        font-size: 18px;
        line-height: 1;

        span {
            font-size: 18px;
        }
    }

}